 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.contactheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner9.jpg);
}
.projectsheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner4.jpg);
}
.aboutheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner8.jpg);
}
.isoheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner7.jpg);
}
.quickbooksheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner3.jpg);
}
.coachingheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner2.jpg);
}
.corporateheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner10.jpg);
}
.managementheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner3.jpg);
}
.resumeheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 66, 98, 0.7)),url(pictures/newest-banner.jpg);
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between; 
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #365cf4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ffff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(96, 109, 136);
    background: rgb(96, 109, 136); /* rgb(120, 143, 189)*/
    transition: 0.4s;
}

nav .fa{
    display: none;
}

@media(max-width: 980px){
    .text-box h1{
        font-size: 50px;
}
}

@media(max-width: 880px){
    .text-box h1{
        font-size: 40px;
}
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
}
.nav-links ul li{
    display: block;
}

#navLinks{
    position: fixed;
    background: rgb(96, 109, 136);
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    overflow: hidden;
}
#navLinks.open{
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}
nav img{
    width: 110px;
    margin-top: 10px;
}
}

/*----- projects -----*/

.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.projects-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    text-align: center;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.projectbutton{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.projectbutton:hover{
    border: 1px solid rgb(96, 109, 136);
    color: white;
    background: rgb(96, 109, 136);
    transition: 0.6s;
}
.projects-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

@media(max-width: 972px){
    .row{
        display: flex;
        flex-direction: column;
    }
}

/*------ Call To Action -----*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(87, 82, 82, 0.459),rgba(87, 82, 82, 0.459)),url(pictures/newest-banner11.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    transition: all 0.3s ease;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.cta:hover{
    box-shadow: 0 0 25px 0px rgba(0,0,0,0.5);
    transform: scale(1.03);
}

@media(max-width:700px){
    .cta h1{
        font-size: 22px;
    }
}

/*------ Footer ------*/

.footer{
    background-color: rgba(3, 12, 36, 0.7);
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 40px;
}

.footer h4{
    color: lightgray;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    color: lightgray;
}
.icons .fa{
    color: #ffff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.forminput{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 5px;
    width: 200px;
    font-size: 13px;
    background: transparent;
    position: relative;
}

#message{
    resize: none;
    width: 320px;
    height: 100px;
}

.shake{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
    
}

.useful-links > a{
    color: black;
    font-size: 35px;
}
.useful-links > a:visited{
    color: black;
}
.const{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}
.under-const{
    height: 100%;
    width: 100%;
}
